.button {
  padding: 15px 40px;
  background-color: var(--accent);
  box-shadow: 0 4px 4px 0 var(--box-shadow);
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:focus-visible {
    outline-color: var(--orange);
  }

  &:hover {
    background-color: var(--accent-hover);
  }
}
