.wrapper {
  position: relative;
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.start {
    padding: 20px 30px;
  }
}

.title {
  margin-bottom: 50px;
}

.settings {
  max-width: 70%;
  width: 100%;
  margin-bottom: 20px;
}

.setitem {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;

  &:hover {
    text-decoration-color: var(--black);
  }
}
