.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--orange);
  transition: background-color var(--steptime) ease;

  &.active {
    background-color: var(--accent);
  }
}

.arrow {
  width: 70%;
  stroke: var(--black);
  transition: opacity var(--steptime) ease;

  &.none {
    opacity: 0;
  }

  &.bottom {
    transform: rotate(0);
  }

  &.left {
    transform: rotate(90deg);
  }

  &.top {
    transform: rotate(180deg);
  }

  &.right {
    transform: rotate(270deg);
  }
}
