.wrapper {
  position: relative;
  padding: 140px 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.start {
    padding: 20px 30px;
  }

  @media (max-width: 1366px) {
    padding: 20px 30px;
    min-height: 80vh;
  }
}

.title {
  margin-bottom: 30px;
}

.info {
  max-width: 60%;
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: 1366px) {
    max-width: 100%;
  }
}

.stepList,
.btnstart {
  margin-bottom: 20px;
}

.btnstart a {
  display: block;
}

.btnend {
  position: absolute;
  bottom: 10px;
  right: 10px;

  @media (max-width: 1366px) {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    white-space: nowrap;
  }
}

.link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;

  &:hover {
    text-decoration-color: var(--black);
  }
}
